<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
    <title>Vue Carosuel Test</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-carousel doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
