<template>
  <main id="app">
    <Carousel/>
  </main>
</template>

<script>
import Carousel from './components/Carousel.vue'

export default {
  name: 'app',
  components: {
    Carousel
  }
}
</script>

<style lang="scss">
  @import './styles/main.scss';
</style>
