<template>
  <ol class="carousel__list">
    <li
      v-on:click="clickListItem(item.webformatURL)"
      :key="item.id"
      v-for="(item) in galleryCollection"
      v-bind:style="{ 'background-image': 'url(' + item.webformatURL + ')' }">
      <p>{{item.tags}}</p>
    </li>
  </ol>
</template>

<script>
export default {
  name: 'Carousel',
  computed: {
    galleryCollection() {
      const minRange = this.$store.getters['getMinRange'];
      const maxRange = this.$store.getters['getMaxRange'];
      const galleryCollection = this.$store.getters['getGalleryCollection']

      let filteredCollection = galleryCollection.filter((item, index) => {
        return index >= minRange && index <= maxRange;
      });

      return filteredCollection;
    }
  },
  methods: {
    clickListItem (imageUrl) {
    this.$store.commit('setOverlayOpen', imageUrl);
    }
  }

}
</script>