<template>
  <div
    v-bind:class="overlayState"
    v-on:click="closeOverlay">
    <div 
      v-bind:style="{'background-image': 'url('+ imageLPath +')'}"
      class="image-container">
      <span class="close-icon"></span>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Carouseloverlay',
    computed: {
      overlayState () {
        let overlayState = this.$store.getters['getOverlayState'];
        return overlayState.showOverlay ? 'carousel-overlay__active' : 'carousel-overlay';
      },
      imageLPath() {
        let overlayState = this.$store.getters['getOverlayState'];
        return overlayState.overlayImageUrl;
      }
    },
    methods: {
      closeOverlay() {
        this.$store.commit('setOverlayOpen', '');
      }
    }
  }
</script>
