<template>
  <section class="main-container">
    <Carouseloverlay />
    <h1>Carousel Search</h1>
    <Inputsearch />
    <div class="carousel">
      <Carouselitems v-if="hasContent" />
      <Nocontent v-else />
      <Mobilebuttons v-if="hasContent"/>
    </div>
    <Desktopbuttons v-if="hasContent"/>
  </section>
</template>

<script>
import Inputsearch from './Inputsearch';
import Carouselitems from './Carouselitems';
import Mobilebuttons from './Mobilebuttons';
import Desktopbuttons from './Desktopbuttons';
import Nocontent from './Nocontent';
import Carouseloverlay from './Carouseloverlay';

export default {
  name: 'Carousel',
  components: {
    Carouseloverlay,
    Inputsearch,
    Carouselitems,
    Mobilebuttons,
    Desktopbuttons,
    Nocontent
  },
  created() {
    this.$store.commit('fetchApi')
  },
  computed: {
    hasContent() {
      return this.$store.getters['contentLoaded'];
    }
  }
}
</script>
