<template>
  <div class="carousel__buttons__container__desktop">
    <button 
      v-on:click="backWard"
      v-if="hideBackward"
      class="carousel__button__desktop carousel__button__desktop--back" 
      role="button" 
      tabindex="0">
      Prev
    </button>
    <button 
      v-on:click="forward()"
      v-if="hideForward"
      class="carousel__button__desktop carousel__button__desktop--next"
      role="button"
      tabindex="0">
      Next
    </button>
  </div>
</template>

<script>
export default {
  name: 'Desktopbuttons',
  methods: {
    backWard() {
      this.$store.commit('setBackwardCount');
    },
    forward() {
      this.$store.commit('setForwardCount');
    }
  },
  computed: {
    hideBackward() {
      return this.$store.getters['getMinRange'] > 0 ? true : false;
    },
    hideForward() {
      let galleryCollectionCount = this.$store.getters['getGalleryCollectionCount'];
      let maxRange = this.$store.getters['getMaxRange'];
      return maxRange <= galleryCollectionCount ? true : false;
    }
  }
}
</script>