<template>
  <div class="form-search">
    <form method="post" v-on:submit.prevent="searchImage()">
      <label for="search">Search for an image:</label>
      <input type="text" id="search" v-model="searchVal" placeholder="Add image type"/>
      <button type="submit" role="button"><span>Search Images</span></button>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'Inputsearch',
    data() {
      return {
        searchVal: ''
      }
    },
    computed: {
      imageCount() {
        return this.$store.getters['getGalleryCollection'].length;
      }
    },
    methods: {
      searchImage() {
        if (this.searchVal !== '') {
          this.$store.dispatch('searchImage', {'searchVal': this.searchVal})
        }
      }
    }
  }
</script>