<template>
  <div>
    <button 
      v-on:click="backWard()" 
      v-if="hideBackward"
      class="carousel__button carousel__backward" 
      role="button" 
      tabindex="0">
      <span class="carousel__button--text">Back</span>
    </button>
    <button
      v-if="hideForward"
      v-on:click="forward()"
      class="carousel__button carousel__forward"
      role="button"
      tabindex="0" >
      <span class="carousel__button--text">Next</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'Mobilebuttons',
  methods: {
    backWard() {
      this.$store.commit('setBackwardCount');
    },
    forward() {
      this.$store.commit('setForwardCount');
    }
  },
  computed: {
    hideBackward() {
      return this.$store.getters['getMinRange'] > 0 ? true : false;
    },
    hideForward() {
      let galleryCollectionCount = this.$store.getters['getGalleryCollectionCount'];
      let maxRange = this.$store.getters['getMaxRange'];
      return maxRange <= galleryCollectionCount ? true : false;
    }
  }
}
</script>