.carousel__buttons__container__desktop {
  flex-direction: row;
  margin: 30px auto;
  text-align: center;
}

.carousel__button__desktop {
  visibility: hidden;
  cursor: pointer;

  @media (min-width: $breakpoint-over-mobile) {
    visibility: visible;
    font-size: 22px;
    width: 8%;

    &:hover {
      background-color: $grey;
    }
  }

  &--back {
    align-items: flex-end;
    margin-right: 5px;
    border-radius: 5px 0 0 5px;
  }

  &--next {
    align-items: flex-start;
    margin-left: 5px;
    border-radius: 0 5px 5px 0;
  }
}