%alignments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-overlay {
  display: none;
  @extend %alignments;

  &__active {
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0.95;
    @extend %alignments;
    animation: 0.5s fadeInOverlay ease-in;

    .image-container {
      box-sizing: border-box;
      position: fixed;
      background-color: $grey;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
    
      @media (min-width: $breakpoint-over-mobile) {
        width: 640px;
        height: 70%;
      }
      z-index: 5;
      @extend %alignments;

      .close-icon {
        background: url(./images/close.svg) no-repeat right center;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

@keyframes fadeInOverlay {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}