.carousel {
  text-align: center;
  margin: auto;
  height: 330px;
  overflow: hidden; 
  overflow-y: scroll;
  position: relative;
  border: 1px solid $grey;

  @media (min-width: $breakpoint-over-mobile) {
    overflow-x: scroll;
    max-width: 99%;
    height: 350px;
  }

  &__button {
    font-size: 60px;
    width: 120px;
    height: 120px;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    top: 45%;
    background: $white url(./images/buttonArrow.svg) no-repeat 25px center;

    &--text {
      visibility: hidden;
    }
  }

  &__backward {
    left: -40px;
    transform: rotate(180deg);
    border-radius: 50% 0 0 50%;

    &:hover {
      background-color: $grey;
      color: $white;
    }
  }

  &__forward {
    right: -40px;
    border-radius: 50% 0 0 50%;

    &:hover {
      background-color: $grey;
      color: $white;
    }

  }

  @media (min-width: $breakpoint-over-mobile) {
    &__backward {
      display: none;
    }

    &__forward {
      display: none;
    }
  }
}

.no-content {
  padding: 20px;
  font-size: 30px;

  @media (min-width: $breakpoint-over-mobile) {
    font-size: 40px;
  }
}
