body {
  font-family: $font-faimly;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;


    li {
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin: 0;
  }

  h1 {
    color: $black;
    padding: 0;
    margin: 0 0 20px;
    font-size: 44px;
  }

  input[type=text] {
    font-family: $font-faimly;
  }

  button[type=submit] {
    font-family: $font-faimly;
  }
}